body {
  font-family: "Sono", sans-serif;
}

/* Hint: What can you do with a media query and flexbox? */
@media (max-width: 1250px) {
  .pricing-container {
    flex-direction: column;
    height: 100%;
  }
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

.pricing-plan {
  flex: 1;
  max-width: 400px;
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.plan-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.plan-price {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 10px;
}

.plan-features {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.plan-features > li {
  margin-bottom: 20px;
}

.plan-button {
  color: white;
  background-color: #ff6600;
  border-radius: 5px;
  border: none;
  padding: 10px;
}
